body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  margin-bottom: 60px;
}

* {
  box-sizing: border-box;
}

:root {
  --background-div: white;
  --background: #f4f5f7f0;
  --background-section: white;
  --backgroung-object: blue;
  --color: #333;
  --shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --background-highlight: #ff0404;
  --text-highlight: #6532d1;
  --btn-background: #6532d1;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: var(--shadow);
  background-color: var(--background-div);
  z-index: 99;
  position: relative;

  li a[name="Itinéraires"] {
    text-decoration: none;
    color: var(--color);
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
      height: auto;
      margin-right: 10px;
      width: 35px;
      height: 33.06px;
    }

    h1 {
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      list-style: none;
      margin-right: 10px;
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-right: 20px;
    }

    a {
      text-decoration: none;
      color: var(--color);
    }
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;

    > div {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 10px;

      img {
        margin-bottom: 10px;
      }
    }

    li {
      margin-right: 0;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: var(--background-div);
  color: var(--color);
  font-size: 14px;
  font-weight: 500;
  @media only screen and (max-width: 768px) {
    footer {
      flex-direction: column;
      justify-content: center;
      height: auto;
      padding: 20px;
      text-align: center;
    }
  }
}

.LoginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;

  .Formulaire {
    width: 50%;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 15px;
    background-color: var(--background-div);

    h1 {
      margin-bottom: 20px;
    }

    .btn-ident {
      background-color: var(--btn-background);
      margin-top: 20px;
    }
  }

  .Image {
    width: 50%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      box-shadow: var(--shadow);
      border-radius: 60px;
      max-width: 100%;
      max-height: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;

    .Formulaire,
    .Image {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}

.RegisterPage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-left: 40px;
  padding-right: 40px;

  .Formulaire {
    width: 50%;
    padding-right: 20px;
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 15px;
    background-color: var(--background-div);

    h1 {
      margin-bottom: 20px;
    }

    .btn-ident {
      background-color: var(--btn-background);
      margin-top: 20px;
    }
  }

  .Image {
    width: 50%;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      box-shadow: var(--shadow);
      border-radius: 60px;
      max-width: 100%;
      max-height: 100%;
    }
  }

  @media (max-width: 768px) {
    flex-wrap: wrap;

    .Formulaire,
    .Image {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }
}

.Profil {
  display: flex;

  .SideBar {
    width: 100%;
    max-width: 150px;
    height: 800px;
    padding: 20px;
    background-color: var(--background-div);

    .line {
      margin-top: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid var(--color);
    }

    button {
      display: flex;
      border: none;
      transition: all 0.3s ease;
      background-color: var(--background-div);
      font-size: medium;
      font-weight: bold;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      width: 100%;

      svg {
        margin-left: 5px;
      }

      &.selected {
        color: var(--text-highlight);
      }
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-around;

      button {
        margin-bottom: 0;
        width: auto;
        padding: 0px;
      }
    }

    @media only screen and (max-width: 767px) {
      max-width: 200px;

      button {
        padding: 0px;
        font-size: small;
      }

      svg {
        margin-left: 0px;
      }
    }
  }

  > div {
    width: 100%;
    padding: 10px;

    @media only screen and (min-width: 768px) {
      width: 70%;
    }
  }

  .edit-input {
    background-color: var(--btn-background);
    margin-bottom: 20px;
  }

  .delete-btn {
    background-color: var(--background-highlight);
  }
}

.Adherents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .Adherents {
    flex-direction: column;
    align-items: center;
  }
}

.CardsUsersViews {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  .MuiPaper-root {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* Définir la largeur maximale de la carte */
  @media only screen and (min-width: 600px) {
    .MuiPaper-root {
      max-width: 500px;
    }
  }

  /* Ajouter une bordure à la carte */
  .MuiPaper-root {
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Réduire la taille de la police pour les petits écrans */
  @media only screen and (max-width: 480px) {
    .MuiPaper-root .MuiTypography-h5 {
      font-size: 1.2rem;
    }
    .MuiPaper-root .MuiTypography-body2 {
      font-size: 0.8rem;
    }
  }

  /* Réduire la taille de l'image pour les petits écrans */
  @media only screen and (max-width: 600px) {
    .MuiPaper-root .MuiCardMedia-root {
      height: 100px;
    }
  }

  @media only screen and (max-width: 768px) {
    .TripCardUser {
      flex-direction: column;
    }

    /* Modifier la largeur des cartes pour les écrans en mode portrait */
    .MuiPaper-root {
      width: 100%;
    }
  }
}

.PublicItn {
  margin: 10px;
  padding: 20px;

  .Filters {
    margin-block: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .Cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  label {
    font-size: 15px;
    font-size: 15px;
    align-items: center;
    display: flex;
  }

  select {
    margin-right: 1em;
  }

  @media (min-width: 913px) {
    .Cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1250px) {
    .Cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1700px) {
    .Cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.HomePage {
  display: flex;
  flex-direction: row;

  .srchPlc {
    position: relative;
    height: 400px;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }

    h1 {
      position: absolute;
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      color: #fff;
      text-align: center;
    }

    .SearchBar {
      input {
        margin-top: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: none;
        transition: all 0.3s ease;
        background-color: var(--background-div);
        font-size: medium;
        box-shadow: var(--shadow);
        font-weight: bold;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
      }
    }

    button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      border: none;
      transition: all 0.3s ease;
      background-color: var(--background-div);
      font-size: medium;
      box-shadow: var(--shadow);
      font-weight: bold;
      cursor: pointer;
      padding: 10px;
      border-radius: 10px;
    }
  }

  .listeCoordonnees {

    div {
      display: flex;
      flex-direction: column;
    }

  }
}

@media screen and (max-width: 1200px) {
    .HomePage {
      display: flex;
      flex-direction: column;
    }
  }
.ModalValidItn {

  p {
    display: flex;
    flex-direction : column;
  }
}